/* ---------------------------------------------- */
/* Icon Font                                      */
/* ---------------------------------------------- */

@font-face {
  font-family: "fontello";
  src: url("../../fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
